/* line 1, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f4f4f2;
}

/* line 8, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 13, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
a {
  text-decoration: none;
}

/* line 17, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.page {
  min-height: 100%;
  margin-bottom: -352px;
}

/* line 21, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
* html .page {
  height: 100%;
}

/* line 24, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.page-buffer {
  height: 352px;
}

/* line 27, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.footer {
  height: 352px;
  background: url("/assets/footer-bg.png");
}

/* line 32, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.header {
  height: 351px;
  background: url("/assets/header-bg.png");
}

/* line 37, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.central-block {
  width: 980px;
  margin: 0 auto;
}

/* line 42, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.clear {
  clear: both;
}

/* line 46, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.logo {
  display: block;
  float: left;
  margin-left: 63px;
  margin-top: 43px;
  margin-right: 27px;
}

/* line 54, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.main-menu {
  list-style-type: none;
  padding-top: 48px;
}

/* line 59, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.main-menu li {
  float: left;
  margin-left: 20px;
}

/* line 64, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.main-menu li a {
  font-family: Tahoma;
  font-size: 9px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* line 72, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.search-form input[type=search] {
  border: 1px solid #595a63;
  width: 121px;
  height: 23px;
  border-radius: 3px;
  background: #353640;
  margin-left: 29px;
  padding-right: 25px;
  color: white;
}

/* line 83, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.search-form input[type=submit] {
  background: url("/assets/search-arrow.png") no-repeat;
  width: 14px;
  height: 12px;
  border: none;
  margin-left: -25px;
}

/* line 91, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.order-btn {
  float: right;
  margin-right: 61px;
  margin-top: 16px;
}

/* line 97, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.phone {
  float: right;
  margin-top: 14px;
  margin-right: 25px;
}

/* line 103, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.phone-code {
  font-family: Tahoma;
  font-size: 25px;
  color: white;
  float: left;
  margin-right: 8px;
  opacity: 0.53;
}

/* line 112, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.phone-number {
  font-family: Tahoma;
  font-size: 25px;
  font-weight: bold;
  float: left;
  color: white;
}

/* line 120, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.header-address {
  float: right;
  font-family: Tahoma;
  font-size: 11px;
  opacity: 0.57;
  color: white;
  margin-right: 11px;
  margin-top: 14px;
}

/* line 130, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.content-block {
  height: 100%;
  background: white;
}

/* line 135, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.page-header {
  height: 130px;
  background: #f9f9f8;
}

/* line 140, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.page-block {
  margin-top: -289px;
}

/* line 144, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.submenu {
  list-style-type: none;
  padding-bottom: 42px;
  display: block;
  margin: 0 64px;
}

/* line 151, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.submenu li {
  float: left;
  border-bottom: 3px solid #e9edf1;
  margin-left: 29px;
}

/* line 157, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.submenu li a {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 11px;
  color: black;
  text-decoration: none;
}

/* line 165, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.submenu li.active {
  border-bottom: 3px solid #f15a22;
}

/* line 169, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
h1 {
  font-family: Tahoma;
  font-size: 25px;
  color: #3f5474;
  margin-left: 69px;
}

/* line 176, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.txt {
  font-family: Tahoma;
  font-size: 13px;
  color: #7f7f7f;
  padding-right: 69px;
  padding-left: 69px;
}

/* line 184, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
table {
  border: 2px solid white;
  width: 845px;
  margin-right: 69px;
  margin-left: 65px;
  margin-top: 45px;
}

/* line 192, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
th {
  background: #c7cacf;
  font-family: Tahoma;
  font-size: 14px;
  color: #fefefe;
  height: 47px;
  vertical-align: middle;
  text-align: center;
}

/* line 202, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
td {
  background: #eeeeef;
  font-family: Tahoma;
  font-size: 14px;
  color: #a8adb6;
  height: 47px;
  vertical-align: middle;
  text-align: center;
}

/* line 212, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
tr td:first-child {
  background: #e8e9eb;
}

/* line 216, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news {
  display: table;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 60px;
}

/* line 223, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-item {
  padding-top: 50px;
  display: table-cell;
  padding-left: 66px;
  padding-bottom: 58px;
}

/* line 230, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-item a {
  text-decoration: none;
}

/* line 234, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.date, .name, .intro {
  display: block;
  width: 230px;
}

/* line 239, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.date {
  font-family: Tahoma;
  font-size: 11px;
  color: #5c5c5c;
  margin-bottom: 15px;
}

/* line 246, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.name {
  font-family: Tahoma;
  font-size: 13px;
  color: #4c5f7c;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 255, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.intro {
  font-family: Tahoma;
  font-size: 13px;
  color: #717171;
}

/* line 261, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news .news-item:first-child {
  border-top: 1px solid #eaeae2;
  border-bottom: 1px solid #eaeae2;
}

/* line 266, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news .news-item:nth-child(2) {
  border: 1px solid #eaeae2;
}

/* line 270, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news .news-item:last-child {
  border-top: 1px solid #eaeae2;
  border-bottom: 1px solid #eaeae2;
}

/* line 275, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.panorama {
  margin-left: 68px;
  margin-bottom: 73px;
}

/* line 280, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.main-menu-footer {
  margin-left: 66px;
}

/* line 284, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.submenu-footer {
  opacity: 0.44;
  padding-top: 12px;
}

/* line 289, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.hr {
  height: 0px;
  width: 100%;
  border-top: 1px solid #585961;
  border-bottom: 1px solid #45474f;
  margin-top: 31px;
  margin-bottom: 31px;
}

/* line 298, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.map {
  width: 392px;
  height: 125px;
  float: left;
  margin-left: 80px;
}

/* line 305, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.footer-text {
  font-family: Tahoma;
  font-size: 13px;
  color: white;
  float: left;
  margin-left: 35px;
  width: 437px;
}

/* line 314, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.copy {
  font-family: Tahoma;
  font-size: 10px;
  color: white;
  margin-top: 27px;
  margin-left: 80px;
}

/* line 322, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.copy a {
  font-family: Tahoma;
  font-size: 10px;
  color: white;
}

/* line 328, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.breadcrumbs {
  list-style-type: none;
  margin-left: 71px;
  margin-bottom: 29px;
}

/* line 334, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.breadcrumbs li {
  float: left;
  margin-right: 10px;
}

/* line 339, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.breadcrumbs li a, .breadcrumbs li {
  font-family: Tahoma;
  font-size: 11px;
  color: #7f7f7f;
}

/* line 345, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.breadcrumbs li a {
  text-decoration: underline;
}

/* line 349, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.works {
  list-style-type: none;
}

/* line 353, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.works li {
  float: left;
  width: 418px;
  border-bottom: 1px solid #eaeae2;
  padding-left: 71px;
  padding-top: 66px;
  padding-bottom: 66px;
}

/* line 362, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.works li:first-child, .works li:nth-child(2n) {
  border-top: 1px solid #eaeae2;
}

/* line 366, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.works li:nth-child(2n) {
  border-left: 1px solid #eaeae2;
}

/* line 370, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.works .name, .works .intro {
  width: 356px;
}

/* line 374, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.pagination {
  list-style-type: none;
  display: inline-block;
  margin-top: 28px;
}

/* line 380, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
em.current, .pagination a {
  font-family: Tahoma;
  font-size: 15px;
  color: #999999;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 390, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.pagination a {
  width: 32px;
  height: 31px;
  background: url("/assets/pager_non_active.png") no-repeat;
}

/* line 396, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
em.current {
  width: 32px;
  height: 31px;
  color: white;
  background: url("/assets/pager_active.png") no-repeat;
}

/* line 403, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.previous_page, .next_page {
  display: none !important;
}

/*------------------------------------*/
/* line 407, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.pager {
  list-style-type: none;
  display: inline-block;
  margin-top: 28px;
}

/* line 413, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.pager li {
  float: left;
}

/* line 417, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.pager li, .pager a {
  font-family: Tahoma;
  font-size: 15px;
  color: #999999;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 427, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.pager a {
  width: 32px;
  height: 31px;
  background: url("/assets/pager_non_active.png") no-repeat;
}

/* line 433, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.pager .active {
  width: 32px;
  height: 31px;
  color: white;
  background: url("/assets/pager_active.png") no-repeat;
}

/*------------------------------------*/
/* line 440, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.wrapper {
  text-align: center;
}

/* line 444, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-page {
  margin-top: 29px;
  margin-bottom: 0;
}

/* line 449, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-page .news-item {
  display: inline-block;
}

/* line 453, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-page .news-item:nth-child(3n) {
  border-left: 1px solid #eaeae2;
}

/* line 457, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-page .news-item:nth-child(3n-2) {
  border-right: 1px solid #eaeae2;
}

/* line 461, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-page .news-item:first-child, .news-page .news-item:nth-child(2), .news-page .news-item:nth-child(3) {
  border: none;
  border-top: 1px solid #eaeae2;
  border-bottom: 1px solid #eaeae2;
}

/* line 467, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-page .news-item:nth-child(2) {
  border-left: 1px solid #eaeae2;
  border-right: 1px solid #eaeae2;
}

/* line 472, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-page .news-item:last-child {
  border-top: none;
}

/* line 476, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-page .news-item {
  border-bottom: 1px solid #eaeae2;
}

/* line 480, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.news-pager {
  margin-bottom: 20px;
}

/* line 484, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 26px;
}

/* line 491, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.mail-form, .success-form, .vacancy-form {
  height: 590px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 99999;
  display: none;
}

/* line 501, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.success-form {
  height: 100px;
  font-family: Tahoma;
  font-size: 16px;
  color: #9c9c9c;
  text-align: center;
}

/* line 509, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.vacancy-form {
  height: 260px;
}

/* line 513, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.mail-form label, .vacancy-form label {
  font-family: Tahoma;
  font-size: 14px;
  color: #9c9c9c;
  margin-left: 44px;
  width: 100px;
}

/* line 521, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.mail-form input, .mail-form textarea, .mail-form a.send-btn, .vacancy-form input, .vacancy-form a.send-btn {
  float: right;
  margin-right: 52px;
}

/* line 526, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.mail-form input[type=text], .vacancy-form input[type=text] {
  width: 293px;
  height: 27px;
  border: 1px solid #9c9c9c;
}

/* line 532, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.mail-form textarea {
  width: 293px;
  height: 160px;
  border: 1px solid #9c9c9c;
}

/* line 538, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.close-form {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

/* line 544, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.send-btn {
  margin-top: 26px;
}

/* line 548, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.7;
  z-index: 9000;
  width: 100%;
  height: 100%;
  display: none;
  display: none;
}

/* line 561, /var/www/tingimrnoff/data/www/stroy-stroy.com/app/assets/stylesheets/main.css.scss */
.errors {
  font-family: Tahoma;
  font-size: 14px;
  color: red;
  margin-top: 30px;
}
/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

