<div class="news news-page">
<% @news.each do |n| %>
						<div class="news-item">
							<span class="date"><%= n.created_at.strftime('%Y.%m.%d') %></span>
							<img src="<%= n.image.url(:thumb) %>">
							<a href="/<%= controller.action_name %>/<%= n.id %>"><span class="name">
								<%= n.name %>
							</span></a>
							<a href="/<%= controller.action_name %>/<%= n.id %>"><span class="intro">
								<%= n.intro %>
							</span></a>
						</div>
<% end %>
</div>
<div class="wrapper">
	<%= will_paginate @news %>
</div>