<ul class="sitemap">
	<% @urls.each do |u| %>
		<li><a href="<%= u[:url] %>" class="sitemap-link"/><%= u[:title] %></a></li>
		<% if u[:childs].length != 0 %>
			<ul>
			<% u[:childs].each do |u2| %>
				<li><a href="<%= u2[:url] %>" class="sitemap-link"/><%= u2[:title] %></a></li>
			<% end %>
			</ul>
		<% end %>
	<% end %>
</ul>