<ul class="works">
<% @albums.each do |a| %>
						<li>
							<a href="<%= a.image.url %>" rel="lightbox-<%= a.id %>" title="<%= sanitize(a.intro, :tags=>[]) %>"><img src="<%= a.image.url(:thumb) %>">
							<span class="name"><%= a.title %></span>
							<span class="intro">
								<%= a.intro.html_safe %>
							</span></a>
							<% photos = Photo.where(album_id: a.id) %>
							<% photos.each do |p| %>
								<a href="<%= p.image.url %>" rel="lightbox-<%= a.id %>" title="<%= sanitize(p.intro, :tags=>[]) %>" style="display: none"></a>
							<% end %>
						</li>
<% end %>
</ul>
<div class="clear"></div>
<div class="wrapper">
	<%= will_paginate @albums %>
</div>