html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f4f4f2;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page{
    min-height: 100%;
    margin-bottom: -352px;
}
* html .page {
    height: 100%;
}
.page-buffer {
    height: 352px;
}
.footer {
	height: 352px;
	background: url( asset-path('footer-bg.png') );
}

.header {
    height: 351px;
    background: url( asset-path('header-bg.png') );
}

.central-block {
    width: 980px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.logo {
    display: block;
    float: left;
    margin-left: 63px;
    margin-top: 43px;
    margin-right: 27px;
}

.main-menu {
    list-style-type: none;
    padding-top: 48px;
}

.main-menu li {
    float: left;
    margin-left: 20px;
}

.main-menu li a {
    font-family: Tahoma;
    font-size: 9px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.search-form input[type=search] {
    border: 1px solid #595a63;
    width: 121px;
    height: 23px;
    border-radius: 3px;
    background: #353640;
    margin-left: 29px;
    padding-right: 25px;
    color: white;
}

.search-form input[type=submit]  {
    background: url( asset-path('search-arrow.png') ) no-repeat;
    width: 14px;
    height: 12px;
    border: none;
    margin-left: -25px;
}

.order-btn {
    float: right;
    margin-right: 61px;
    margin-top: 16px;
}

.phone {
    float: right;
    margin-top: 14px;
    margin-right: 25px;
}

.phone-code {
    font-family: Tahoma;
    font-size: 25px;
    color: white;
    float: left;
    margin-right: 8px;
    opacity: 0.53;
}

.phone-number {
    font-family: Tahoma;
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: white;
}

.header-address {
    float: right;
    font-family: Tahoma;
    font-size: 11px;
    opacity: 0.57;
    color: white;
    margin-right: 11px;
    margin-top: 14px;
}

.content-block {
    height: 100%;
    background: white;
}

.page-header {
    height: 130px;
    background: #f9f9f8;
}

.page-block {
    margin-top: -289px;
}

.submenu {
    list-style-type: none;
    padding-bottom: 42px;
    display: block;
    margin: 0 64px;
}

.submenu li {
    float: left;
    border-bottom: 3px solid #e9edf1;
    margin-left: 29px;
}

.submenu li a {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 11px;
    color: black;
    text-decoration: none;
}

.submenu li.active {
    border-bottom: 3px solid #f15a22;
}

h1 {
    font-family: Tahoma;
    font-size: 25px;
    color: #3f5474;
    margin-left: 69px;
}

.txt {
    font-family: Tahoma;
    font-size: 13px;
    color: #7f7f7f;
    padding-right: 69px;
    padding-left: 69px; 
}

table {
    border: 2px solid white;
    width: 845px;
    margin-right: 69px;
    margin-left: 65px;
    margin-top: 45px;
}

th {
    /*background: #c7cacf;*/
    font-family: Tahoma;
    font-size: 14px;
    color: #fefefe;
    height: 47px;
    vertical-align: middle;
    text-align: center;
}

td {
    /*background: #eeeeef;*/
    font-family: Tahoma;
    font-size: 14px;
    color: #a8adb6;
    height: 47px;
    vertical-align: middle;
    text-align: center;
}

tr td:first-child {
    /*background: #e8e9eb;*/
}

.news {
    display: table;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 60px;
}

.news-item {
    padding-top: 50px;
    display: table-cell;
    padding-left: 66px;
    padding-bottom: 58px;
}

.news-item a {
    text-decoration: none;
}

.date, .name, .intro {
    display: block;
    width: 230px;
}

.date {
    font-family: Tahoma;
    font-size: 11px;
    color: #5c5c5c;
    margin-bottom: 15px;
}

.name {
    font-family: Tahoma;
    font-size: 13px;
    color: #4c5f7c;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro {
    font-family: Tahoma;
    font-size: 13px;
    color: #717171;
}

.news .news-item:first-child {
    border-top: 1px solid #eaeae2;
    border-bottom: 1px solid #eaeae2;
}

.news .news-item:nth-child(2) {
    border: 1px solid #eaeae2;
}

.news .news-item:last-child {
    border-top: 1px solid #eaeae2;
    border-bottom: 1px solid #eaeae2;
}

.panorama {
    margin-left: 68px;
    margin-bottom: 73px;
}

.main-menu-footer {
    margin-left: 66px;
}

.submenu-footer  {
    opacity: 0.44;
    padding-top: 12px; 
}

.hr {
    height: 0px;
    width: 100%;
    border-top: 1px solid #585961;
    border-bottom: 1px solid #45474f; 
    margin-top: 31px;
    margin-bottom: 31px;
}

.map {
    width: 392px;
    height: 125px;
    float: left;
    margin-left: 80px;
}

.footer-text {
    font-family: Tahoma;
    font-size: 13px;
    color: white;
    float: left;
    margin-left: 35px;
    width: 437px;
}

.copy {
    font-family: Tahoma;
    font-size: 10px;
    color: white;
    margin-top: 27px;
    margin-left: 80px;
} 

.copy a {
    font-family: Tahoma;
    font-size: 10px;
    color: white; 
}

.breadcrumbs {
    list-style-type: none;
    margin-left: 71px;
    margin-bottom: 29px;
}

.breadcrumbs li {
    float: left;
    margin-right: 10px;
}

.breadcrumbs li a, .breadcrumbs li {
    font-family: Tahoma;
    font-size: 11px;
    color: #7f7f7f;
}

.breadcrumbs li a {
    text-decoration: underline;
}

.works {
    list-style-type: none;
}

.works li {
    float: left;
    width: 418px;
    border-bottom: 1px solid #eaeae2;
    padding-left: 71px;
    padding-top: 66px;
    padding-bottom: 66px;
}

.works li:first-child, .works li:nth-child(2n) {
    border-top: 1px solid #eaeae2;
}

.works li:nth-child(2n) {
    border-left: 1px solid #eaeae2;
}

.works .name, .works .intro {
    width: 356px;
}

.pagination {
    list-style-type: none;
    display: inline-block;
    margin-top: 28px;
}

em.current, .pagination a {
    font-family: Tahoma;
    font-size: 15px;
    color: #999999;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.pagination a {
    width: 32px;
    height: 31px;
    background: url( asset-path('pager_non_active.png') ) no-repeat;
}

em.current {
    width: 32px;
    height: 31px;
    color: white;
    background: url( asset-path('pager_active.png') ) no-repeat;
}

.previous_page, .next_page {
    display: none !important;
}
/*------------------------------------*/
.pager {
    list-style-type: none;
    display: inline-block;
    margin-top: 28px;
}

.pager li {
    float: left;
}

.pager li, .pager a {
    font-family: Tahoma;
    font-size: 15px;
    color: #999999;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.pager a {
    width: 32px;
    height: 31px;
    background: url( asset-path('pager_non_active.png') ) no-repeat;
}

.pager .active {
        width: 32px;
    height: 31px;
    color: white;
    background: url( asset-path('pager_active.png') ) no-repeat;
}
/*------------------------------------*/
.wrapper {
    text-align: center;
}

.news-page {
    margin-top: 29px;
    margin-bottom: 0;
}

.news-page .news-item {
    display: inline-block;
}

.news-page .news-item:nth-child(3n) {
    border-left: 1px solid #eaeae2;
}

.news-page .news-item:nth-child(3n-2) {
    border-right: 1px solid #eaeae2;
}

.news-page .news-item:first-child, .news-page .news-item:nth-child(2), .news-page .news-item:nth-child(3) {
    border: none;
    border-top: 1px solid #eaeae2;
    border-bottom: 1px solid #eaeae2;
}

.news-page .news-item:nth-child(2) {
    border-left: 1px solid #eaeae2;
    border-right: 1px solid #eaeae2;
}

.news-page .news-item:last-child {
    border-top: none;
}

.news-page .news-item {
    border-bottom: 1px solid #eaeae2;
}

.news-pager {
    margin-bottom: 20px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 26px;
}

.mail-form, .success-form, .vacancy-form {
    height: 590px;
    width: 500px;
    position: absolute;
    top: 0;left:0;
    background: #ffffff;
    z-index: 99999;
    display: none;
}

.success-form {
    height: 100px;
    font-family: Tahoma;
    font-size: 16px;
    color: #9c9c9c;
    text-align: center;
}

.vacancy-form {
    height: 260px;
}

.mail-form label, .vacancy-form label {
    font-family: Tahoma;
    font-size: 14px;
    color: #9c9c9c;
    margin-left: 44px;
    width: 100px;
}

.mail-form input, .mail-form textarea, .mail-form a.send-btn, .vacancy-form input, .vacancy-form a.send-btn {
    float: right;
    margin-right: 52px;
}

.mail-form input[type=text], .vacancy-form input[type=text] {
    width: 293px;
    height: 27px;
    border: 1px solid #9c9c9c;
}

.mail-form textarea {
    width: 293px;
    height: 160px;
    border: 1px solid #9c9c9c;
}

.close-form {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.send-btn {
    margin-top: 26px;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.7;
    z-index: 9000;
    width: 100%;
    height: 100%;
    display: none;
    display: none;
}

.errors {
    font-family: Tahoma;
    font-size: 14px;
    color: red;
    margin-top: 30px;
    margin-left: 30px;
}

.sitemap {
    list-style-type: none;
    margin-left: 69px;
}

.sitemap ul {
    list-style-type: none;
    margin-left: 20px;
}

.sitemap-link {
    font-family: Tahoma;
    font-size: 13px;
    color: #4c5f7c;
}
