<h1 style="margin-top: 70px">НОВОСТИ</h1>
<div class="news" style="margin-top: 10px;">
<% @news_widget.each do |n| %>
						<div class="news-item">
							<span class="date"><%= n.created_at.strftime('%Y.%m.%d') %></span>
							<a href="/news/<%= n.id %>"><img src="<%= n.image.url(:thumb) %>"></a>
							<a href="/news/<%= n.id %>"><span class="name">
								<%= n.name %>
							</span></a>
							<a href="/news/<%= n.id %>"><span class="intro">
								<%= n.intro %>
							</span></a>
						</div>	
<% end %>
</div>