<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	 <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= @keywords %>" />
  <meta name="description" content="<%= @description %>" />
  <meta name='yandex-verification' content='6909fbb19081ff49' />
</head>
<body>
	<div class="page">
		<div class="header" <% if controller.controller_name == 'site' && controller.action_name == 'works' %> style="height: 146px;" <% end %>>
			<div class="central-block">
				<a class="logo" href="/"><img src="<%= image_path('logo.png') %>"></a>
				<ul class="main-menu">
					<li><a href="/">ГЛАВНАЯ</a></li>
					<li><a href="/news">НОВОСТИ</a></li>
					<li><a href="/works">НАШИ РАБОТЫ</a></li>
					<li><a href="/vacancys">ВАКАНСИИ</a></li>
					<li><a href="/articles">СТАТЬИ</a></li>
					<li><a href="/contact">КОНТАКТЫ</a></li>
				</ul>
				<form class="search-form">
					<input type="search" placeholder="ПОИСК"/>
					<input type="submit" value=""/>
				</form>
				<div class="clear"></div>
				<a href="#" class="order-btn"><img src="<%= image_path('order-btn.png') %>" /></a>
				<div class="phone">
					<div class="phone-code">(484)</div>
					<div class="phone-number">583-88-58</div>
				</div>
				<div class="header-address">
					г.Обнинск, Киевское шоссе 59<br />
					СГ СЕВЕРНЫЙ, 4 этаж, офис 4.33
				</div>
			</div>
		</div>
		<div class="central-block content-block">
			<% if controller.controller_name == 'site' && controller.action_name != 'works' %>
			<div class="page-header"></div>
			<div style="background: url(<%= image_path('slider-bg.png') %>) no-repeat; position: relative; top: -340px;margin-left: 63px;">
						<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 854px;
			        height: 309px;">

					        <!-- Loading Screen -->
					        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
					            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
					                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
					            </div>
					            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
					                top: 0px; left: 0px;width: 100%;height:100%;">
					            </div>
					        </div>

					        <!-- Slides Container -->
					        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 788px; height: 241px;
					            overflow: hidden;margin-top: 31px;margin-left: 32px;">
					            <% @slider.each do |s| %>
					            	<div><img u="image" src="<%= s.image.url(:thumb) %>" /></div>
					            <% end %>
					        </div>
					        
					        <!-- Bullet Navigator Skin Begin -->
					        <style>
					            /*
					            .jssorb09 div           (normal)
					            .jssorb09 div:hover     (normal mouseover)
					            .jssorb09 .av           (active)
					            .jssorb09 .av:hover     (active mouseover)
					            .jssorb09 .dn           (mousedown)
					            */
					            .jssorb09 div, .jssorb09 div:hover, .jssorb09 .av
					            {
					                overflow:hidden;
					                cursor: pointer;
					            }
					            .jssorb09 div { background-color: #bfbfc0; }
					            .jssorb09 div:hover, .jssorb09 .av:hover { background-color: #272830; }
					            .jssorb09 .av { background-color: #272830; }
					            .jssorb09 .dn, .jssorb09 .dn:hover { background-color: #bfbfc0; }
					        </style>
					        <!-- bullet navigator container -->
					        <div u="navigator" class="jssorb09" style="position: absolute; bottom: -13px; right: 10px;">
					            <!-- bullet navigator item prototype -->
					            <div u="prototype" style="POSITION: absolute; WIDTH: 5px; HEIGHT: 5px;"></div>
					        </div>
					        <!-- Bullet Navigator Skin End -->
					        <a style="display: none" href="http://www.jssor.com">jquery photo gallery</a>
					    </div>
			</div>
			<% end %>
		    <!-- Jssor Slider End -->
		    <div class="page-block" <% if controller.controller_name == 'site' && controller.action_name == 'works' %> style="margin-top: 0;padding-top: 33px;" <% end %>>
				   	<ul class="submenu">
				    	<li class="<%= is_current_textpage('site', 'textpage', 'build') %>"><a href="/build">СТРОИТЕЛЬСТВО</a></li>
				    	<li class="<%= is_current_textpage('site', 'textpage', 'repair') %>"><a href="/repair">ОТДЕЛКА И РЕМОНТ</a></li>
				    	<li class="<%= is_current_textpage('site', 'textpage', 'sanitary') %>"><a href="/sanitary">САНТЕХНИКА</a></li>
				    	<li class="<%= is_current_textpage('site', 'textpage', 'water') %>"><a href="/water">ВОДОСНАБЖЕНИЕ И ВОДООЧИСТКА</a></li>
				    	<li class="<%= is_current_textpage('site', 'textpage', 'ventilation') %>"><a href="/ventilation">ВЕНТИЛЯЦИЯ</a></li>
				    	<li class="<%= is_current_textpage('site', 'textpage', 'electric') %>"><a href="/electric">ЭЛЕКТРИКА</a></li>
					</ul>
					<h1><%= @pagetitle %></h1>
					<%= yield %>
					<% if controller.action_name != 'news' || (controller.action_name == 'news' && params[:id])%>
						<%= render :partial => "layouts/news_partial", :locals => { :news => @news_widget }  %>
					<% end %>
					<% if controller.controller_name == 'site' && controller.action_name == 'index' %>
						<img src="<%= AddText.where(label: 'panorama')[0].image.url %>" class="panorama" />
					<% end %>
					<div class="clear"></div>
		    </div>
		</div>
		<div class="page-buffer"></div>
	</div>
	<div class="footer">
			<div class="central-block">
				<ul class="main-menu main-menu-footer">
					<li><a href="/">ГЛАВНАЯ</a></li>
					<li><a href="/about">О КОМПАНИИ</a></li>
					<li><a href="/news">НОВОСТИ</a></li>
					<li><a href="/works">НАШИ РАБОТЫ</a></li>
					<li><a href="/vacancys">ВАКАНСИИ</a></li>
					<li><a href="/contact">КОНТАКТЫ</a></li>
					<li><a href="/sitemap.html">КАРТА САЙТА</a></li>
				</ul>
				<div class="clear"></div>
				<ul class="main-menu main-menu-footer submenu-footer">
						<li><a href="/build">СТРОИТЕЛСТВО</a></li>
				    	<li><a href="/repair">ОТДЕЛКА И РЕМОНТ</a></li>
				    	<li><a href="/sanitary">САНТЕХНИКА</a></li>
				    	<li><a href="/water">ВОДОСНАБЖЕНИЕ И ВОДООЧИСТКА</a></li>
				    	<li><a href="/ventilation">ВЕНТИЛЯЦИЯ</a></li>
				    	<li><a href="/electric">ЭЛЕКТРИКА</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="hr"></div>
			<div class="central-block">
				<div class="map">
					<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=KnHmi31k0aONuzVYlUU65Y5M84bC2wP0&width=392&height=125"></script>
				</div>
				<div class="footer-text">
					<%= AddText.where(label: 'footer_text')[0].txt.html_safe %>
				</div>
				<div class="clear"></div>

				<div class="copy">
					Сделано в <a href="#">Link Studio</a>
				</div>
			</div>
	</div>
	<div class="overlay"></div>
<%= render :partial => "layouts/success_partial", :locals => { :getcall => @getcall } %>
<%= render :partial => "layouts/mail_partial", :locals => { :getcall => @getcall } %>
  <% if controller.controller_name == 'site' && controller.action_name != 'works' %>
  <script>

        jQuery(document).ready(function ($) {
            var options = {
            	$AutoPlay: true,
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 10,                                  //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 10,                                  //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                }
            };
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
        });
    </script>
    <% end %>
</body>
</html>